/* Меню магазина */

.shop-menu {
    flex: 1;
}

.shop-menu h1 {
    margin: 20px;
    font-size: 2.5rem;
}

.shop-menu div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.shop-list {
    list-style-type: none;
    font-size: 2rem;
    padding: 0;
    margin: 0px;
    text-align: center;
}

.shop-list li {
    padding: 7px 0 7px 0;
    transition: .2s linear;
}

.shop-list li:hover,
.shop-list li:focus {
    background-color: rgba(190, 190, 190, 0.9);
}

.shop-list a {
    text-decoration: none;
    color: black;
}

.shop-list a:hover,
.shop-list a:focus {
    border-bottom: 1px solid;
}

/* Центральная часть магазина */

.shop-item {
    font-size: 1.6rem;
    background-color: rgba(250, 250, 250, 0.7);
    flex: 3;
    padding: 20px;
}

.shop-item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.shop-card {
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* Изоображения на карточках */

.shop-card img {
    width: 100%;
    transition: 1s;
}

.scale {
    overflow: hidden;
}

.shop-card img:hover,
.shop-card img:focus {
    transform: scale(1.2);
}

/* Остальная информация на карточке */

.shop-card p {
    margin: 10px;
}

.item-price {
    color: #d32f2f;
    font-size: 1.8rem;
}

.shop-card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
}

.shop-card button:hover,
.shop-card button:focus {
    background-color: #ff1100;
}

/* Медиа запросы */

@media (max-width: 1200px) {
    .shop-item-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .shop-item-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .shop-item-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    header {
        height: 105px;
    }

    main {
        flex-direction: column;
    }

    .nav-menu {
        height: 85px;
    }

    .ul-menu {
        justify-content: center;
        margin: 0;
    }

    .shop-name,
    .menu-logo {
        display: none;
    }

    .shop-menu div {
        margin: 0px 20px;
    }
}