html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: rgba(230, 230, 230, 1);
    box-sizing: border-box;
}

/* Меню навигации */

.nav-menu {
    background-color: rgba(230, 230, 230, 0.7);
    height: 70px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.ul-menu {
    padding: 0;
    list-style-type: none;
}

.ul-menu li {
    display: inline-block;
}

.ul-menu a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: bold;
    color: black;
    transition: .3s linear;
}

.ul-menu a:hover {
    background-color: rgba(100, 100, 100, 0.9);
}

.menu-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.menu-logo img {
    height: 100%;
    width: 100%;
}

.shop-name {
    font-size: 3em;
}

/* Центральная часть */

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.shop-item {
    background-color: rgba(250, 250, 250, 0.7);
    flex: 3;
    margin: 20px;
}

/* Подвал */

footer {
    background-color: rgba(230, 230, 230, 0.7);
    font-size: 1.6em;
}

.footer-tel {
    float: right;
    margin-right: 20px;
}

/* Медиа запросы */

@media (max-width: 1080px) {
    header {
        height: 180px;
    }
    
    .ul-menu {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-menu {
        align-content: normal;
    }
}

@media (max-width: 575px) {
    header {
        height: 205px;
    }
}