@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(230, 230, 230, 0.7);
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

/* Меню навигации */

.shop-name {
    font-weight: bold;
}

.nav-menu {
    background-color: rgba(230, 230, 230);
    height: 70px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.ul-menu {
    padding: 0;
    list-style-type: none;
}

.ul-menu li {
    display: inline-block;
}

.ul-menu a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(116, 116, 116);
    transition: .4s linear;
}

.ul-menu a:hover,
.ul-menu a:focus {
    color: rgb(0, 0, 0);
}

.menu-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.menu-logo img {
    height: 100%;
    width: 100%;
}

.shop-name {
    font-size: 3rem;
}

/* Центральная часть */

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    font-size: 1.6rem;
    padding-bottom: 52px;
    padding-top: 15px;
}

main p {
    margin: 0px;
    text-align: center;
    padding: 5px;
}

.shop-main {
    display: flex;
}

.contacts-main {
    margin: 0;
    font-size: 1.6rem;
}

.contacts-main span {
    color: rgb(35, 30, 255);
}

.delivery-main {
    margin: 0;
    font-size: 1.6rem;
}

#map {
    margin: 10px 0px 10px 0px;
}

.delivery-main h1 {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
}

.delivery-main ul {
    margin: 0;
    padding-left: 20px;
    font-size: 1.6rem;
    text-align: left;
    list-style-type: none;
}

.delivery-main ul li {
    padding: 5px 0px 5px 0px;
}

/* Подвал */

footer {
    background-color: rgba(230, 230, 230);
    font-size: 1.6rem;
    min-height: 52px;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer-tel {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 0.4rem;
    align-items: center;
    float: right;
    margin-right: 20px;
}

.footer-tel img {
    width: 20px;
}

/* Медиа запросы */

@media (max-width: 1080px) {
    header {
        height: 180px;
    }

    .ul-menu {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-menu {
        align-content: normal;
        height: 180px;
    }
}

@media (max-width: 535px) {
    header {
        height: 205px;
    }
}