html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    box-sizing: border-box;
}

/* Меню навигации */

.shop-name {
    font-weight: bold;
}

.nav-menu {
    background-color: rgba(230, 230, 230, 0.7);
    height: 70px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.ul-menu {
    padding: 0;
    list-style-type: none;
}

.ul-menu li {
    display: inline-block;
}

.ul-menu a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(130, 130, 130);
    transition: .4s linear;
}

.ul-menu a:hover,
.ul-menu a:focus {
    color: rgb(0, 0, 0);
}

.menu-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.menu-logo img {
    height: 100%;
    width: 100%;
}

.shop-name {
    font-size: 3rem;
}

/* Центральная часть */

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
}

/* Подвал */

footer {
    background-color: rgba(230, 230, 230, 0.7);
    font-size: 1.6rem;
}

.footer-tel {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 0.4rem;
    align-items: center;
    float: right;
    margin-right: 20px;
}

.footer-tel img {
    width: 20px;
}

/* Медиа запросы */

@media (max-width: 1080px) {
    header {
        height: 180px;
    }
    
    .ul-menu {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-menu {
        align-content: normal;
        height: 180px;
    }
}

@media (max-width: 575px) {
    header {
        height: 205px;
    }
}